@font-face {
    font-family: 'CODE39-2';
    src: url('CODE39-2.TTF') format('truetype');
 }
@font-face {
   font-family: 'NotoSansKR';
   src: url('NotoSansKR-Regular.ttf') format('truetype');
}
@page {
  size: A4;              /* A4, Letter 등 */
  margin: 10mm 5mm 10mm 5mm; /* (상우하좌) */
}
body { font-family: 'NotoSansKR', sans-serif; 
	line-height: 1.4;
}
.lot-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lot-num{
  font-size: 14px;
  font-weight: 600;
  background-color: #9FFCFD;
}
.lot-remarks{
  font-size: 14px;
  font-weight: 600;
}
.lot-card-table {
  border-collapse: collapse;
  font-family: 'NotoSansKR', sans-serif;
  width: 100%;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 10px;
}

.lot-card-table td,
.lot-card-table th {
  border: 1px solid black;
  padding: 2px 1px;
  font-size: 12px;
}
.lot-card-table th {
  background-color: #f0f0f0;
  white-space: nowrap;
}
.header {
  font-weight: bold;
  background-color: #f0f0f0;
  width: 20%;
  font-size: 12px;
}
.head_01 td {
  font-size: 11px;
  white-space: nowrap;
}
td.head_01 {
  font-size: 11px !important;
  white-space: nowrap;
}
.head_02 {
  font-size: 9px !important;
  white-space: nowrap;
}
.model-info {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

.size-info {
  font-size: 36px !important;
  font-weight: bold;
  color: red;
}

.lot-card-details {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  white-space: nowrap;
}

.lot-card-title {
  text-decoration: underline;
  font-size: 28px;
}

.production-run {
  color: red;

  font-weight: bold;
  font-size: 20px;
}

.page-break {
  page-break-after: always; /* 페이지 나누기 */
}

.lot_card {
  border: 1px solid #000;
  border-radius: 5px;
  width: 65px;
  height: 90px;
  margin: 3px auto;
}
.brd_b_bold {
  border-bottom: 2px solid #000;
}
.brd_r_bold {
  border-bottom: 2px solid #000;
}
.title {
  font-size: 21px !important;
  font-weight: 400;
}
.barcode-text {
  font-family: "CODE39-2";
  font-size: 30px; /* 크기 줄임 */
  font-weight: normal;
  letter-spacing: 2px; /* 글자 간격 조정 */
}