@font-face {
    font-family: 'CODE39-2';
    src: url('@/assets/fonts/CODE39-2.TTF') format('truetype');
  }
@font-face {
    font-family: '3OF9_NEW-NEW';
    src: url('@/assets/fonts/3OF9_NEW.TTF') format('truetype');
  }